@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contacts {
  background: linear-gradient(217deg, #c7c5c5, rgba(49, 7, 7, 0) 100.71%),
          linear-gradient(127deg, #14e5ff, rgba(0,255,0,0) 70.71%),
          linear-gradient(336deg, #ffc4d8, rgba(255, 255, 255, 0) 70.71%);
}



